@import "tailwindcss";

@layer components {
  .no-arrows::-webkit-inner-spin-button,
  .no-arrows::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-arrows {
    -moz-appearance: textfield;
  }

  .pulse-once:hover {
    animation: pulse-once 0.4s ease-in-out;
  }

  @keyframes pulse-once {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }
}

@layer utilities {
    .hover-bounce {
        transition: transform 0.2s ease;
    }
    .hover-bounce:hover {
        transform: scale(1.03);
    }
}